<h1>Add company details</h1>
<form  ng-submit = "addData(add)">
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Company Name" ng-model="add.companyName" name="companyName">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" placeholder="subDomain" ng-model="add.subDomain" name="subDomain">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="company Image2" ng-model="add.companyImage1" name="companyImage1">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="company Image2" ng-model="add.companyImage2" name="companyImage2">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="banner Text" ng-model="add.bannerText" name="bannerText">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="company Discription" ng-model="add.detail" name="detail">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="email" ng-model="add.email" name="email">
  </div>
   <button type="submit" class="btn btn-primary">Add Company</button>
</form>