<div class="row">
    <div class = "col-md-3">
        <div class="card">
  <div class="card-header bg-primary" style = "color:white;" >
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{companyName}}</li>
    <li class="list-group-item">{{managerName}}</li>
  </ul>
</div>
    </div>
    <div class = "col-md-9">
        <div class="card">
  <img class="card-img-top" src="{{companyImage}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">{{detail}}</p>
    <a href="/edit/{{id}}" class="btn btn-warning">Edit</a>
    <button class="btn btn-danger" ng-click = "delete()">Delete</button>
  </div>
        
    </div>
    
</div>